
*.log

*.bak

*.aux

*.bbl

*.bcf

*.blg

*.xml

*.gz

*.toc

*.thm

*.listing

*.idx

.$arthistory-examples.bib$

*.gz(busy)

*.bib$

*.out

*.ilg

*.ind

*.tcp

*.tps
*.fdb_latexmk

*.fls

*.lb

*.sav

*.sublime*